body {
  background-color: rgb(168, 202, 203);
}

h1 {
  background: linear-gradient( rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.98)), url(http://68.media.tumblr.com/b85f7d06171a43eec004d0be2df7eafc/tumblr_ovrf25nuJ61urz3l2o1_500.gif);
  font-family: 'Sirin Stencil', cursive;
  font-size: 188px;
  text-align: center;
  background-repeat: repeat-x;
  background-position: 0 0;
  color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

h3 {
  background: linear-gradient( rgba(255, 255, 255, 0.88), rgba(255, 255, 255, 0.95)), url(http://68.media.tumblr.com/b85f7d06171a43eec004d0be2df7eafc/tumblr_ovrf25nuJ61urz3l2o1_500.gif);
  font-family: 'Sirin Stencil', cursive;
  font-size: 38px;
  text-align: center;
  background-repeat: repeat-x;
  background-position: 0 0;
  color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  opacity: .33;
  transition: .5s;
}

h3:hover {
  opacity: .9;
  transition: .5s;
}

#container2 {
  margin-top: 14%;
  margin: auto;
  width: 50%;
}

.volbox {
  margin: auto;
  width: 50%;
  padding: 10px;
  font-family: 'Codystar', cursive;
  font-size: 38px;
  color: rgb(245, 250, 255);
  text-align: center;
  opacity: .8;
  transition: .5s;
}

.volbox:hover {
  opacity: 1;
  transition: .6s;
}

#volume {
  margin: auto;
  width: 50%;
  color: rgb(245, 250, 255);
}

#slidecontainer {
  width: 100%;
}

#volume {
  -webkit-appearance: none;
  width: 50%;
  height: 20px;
  background: rgba(254, 216, 216, 0.75);
  outline: none;
  opacity: 0.78;
  transition: opacity .4s;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  background: linear-gradient( rgba(254, 216, 216, 1), rgba(254, 216, 216, .92)), url(http://68.media.tumblr.com/b85f7d06171a43eec004d0be2df7eafc/tumblr_ovrf25nuJ61urz3l2o1_500.gif);
}

#volume:hover {
  opacity: 1;
}

#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  cursor: crosshair;
}

#buttonSettings {
  margin: auto;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  color: rgb(245, 250, 255);
  text-align: center;
  background-color: transparent;
  border-color: transparent;
  font-family: 'Sirin Stencil', cursive;
  font-size: 22px;
  margin-top: 20%;
  transition: 1s;
}
#buttonSettings:hover {
text-decoration: underline;
transition: 1s;
}
#buttonSettings:focus {
  outline: 0;
}
#set {
  margin: auto;
  width: 70%;
  padding: 10px;
  font-family: 'Codystar', cursive;
  font-size: 18px;
  color: rgb(245, 250, 255);
  text-align: center;
  display: none;
}

p {
  display: inline-block;
  padding: 14px;
}

#set:hover {

}

#footer {
  font-family: 'Sirin Stencil', cursive;
  color: rgba(254, 254, 254, .8);
  font-size: 20px;
  text-align: center;
  bottom: 0px;
  margin-top: 10%;
}
